.container{
    max-width: 500px;
    height: 84px;
    background-color: #fff;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    margin-bottom: 24px;
    padding: 16px 30px;
    margin-left: 200px;
}

.img-history{
    padding: 0px 0px;
    border-radius: 50%;
    border: 1px solid conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}

.userName-story{
    padding-left: 15px;
    text-decoration: none;
    font-size: 0.8em;
    color:#262626 ;
}

.link-story{
    text-decoration: none;
}

@media (max-width: 620px){
    .container{
        margin-left: 0px;
    }
}

@media (max-width: 820px){
    .container{
        margin: 20px auto;
    }
}